button {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  width: 72px;
  height: 72px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 24px;
  background: #e0e0e0;
  box-shadow: 9px 9px 28px #c5c5c5, -9px -9px 28px #fbfbfb;
}

button.main {
  color: #0b1121;
}

button.aside {
  color: #f99030;
}

button:active {
  background: #e0e0e0;
  box-shadow:
    inset 10px 10px 20px #aaa,
    inset -10px -10px 20px #fff;
}
