.Calculator-body {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 48px;
  height: calc(100% - 3 * 48px);
  width: calc(100% - 2 * 48px);
}

.Calculator-body-left {
  align-self: baseline;
  position: relative;
  top: 15%;
  width: fit-content;
}
