.Calculator-body {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin: 48px;
  min-height: calc(100% - 3 * 48px);
  width: calc(100% - 2 * 48px);
}

section {
  height: 70vh;
  min-width: 60%;
}

label {
  height: 100%;
  width: 100%;
}

#notebook {
  height: 100%;
  padding: 40px 40px 20px 100px;
  font-size: 36px;
  color: #0b1121;
  font-weight: 300;
  width: 100%;
  resize: vertical;
  line-height: 32px;
  -webkit-appearance: none;
  background-image: url(../../public/design/notebook.png);
  background-repeat: repeat;
  border-radius: 24px;
  border-style: ridge;
  border: 5px solid #cacaca;
  box-shadow: 5px 5px 10px #aaa, -5px -5px 10px #fff;
  font-family: 'Patrick Hand', cursive;
}
