/* ===== Style resets ===== */

:root {
  --link-color: #4670ad;
  --link-color-hover: #7646ad;
}

* {
  box-sizing: border-box;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

a:link {
  color: var(--link-color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--link-color);
  background-color: transparent;
  text-decoration: underline;
}

/* ===== Style resets ===== */
.App {
  height: 100vh;
  width: 100%;
}

.App-header {
  height: 48px;
  width: 100%;
  padding: 12px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  min-width: 271px;
}

.App-logo-img {
  height: 100%;
}

.App-navigation {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
